*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.dogimglist {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    ul.dogimglist li {
    width: 23%;
    float: left;
    margin: 1%;
    }
    ul.dogimglist li img {
    max-width: 100%;
    }